* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
body{
	min-height: 100%;
	-webkit-user-select:none;
	background: #013b78 url("../img/body.png");
	background-size:100% 100%;
}
.body{
	margin-bottom:3.6em;
}
.container{
	
}
.proname{
	color: #fff;
	padding-top:2em;
	margin-bottom: 1em;
}
.proname p{
	position: relative;
	text-align: center;
}
.proname p img{
	width: 0.5625em;
	height: 0.5625em;
	position: absolute;
	margin-left:0.25em;
}
.proname p span{
	color: #fff;
	font-size: 1.7em;
	line-height: 1.7em;
	height: 1.7em;
}
.proname .description{
	margin-top:0.4em;
	display: block;
	text-align: center;
	color: #77c3f6;
	font-size: 0.85em;
	line-height: 0.85em;
	height: 0.85em;
}
.prophoto{
	width: 10.6em;
	height: 10.6em;
	background: #fff;
	border: 0.25em solid #fff;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
	text-align: center;
}
.prophoto img{
	z-index: 2;
	width: 10.6em;
	height: 10.6em;
	border-radius: 50%;
	box-shadow: 0 0 0.25em 0.25em rgba(195,195,195,0.5) inset;
}
.prophoto .photomask{
	display: none;
	position: absolute;
	margin: -5.3em;
	top:50%;
	left: 50%;
	width: 10.6em;
	height: 10.6em;
	border-radius: 50%;
	
}
.prophoto .warning{
	display: block;
	background:rgba(161,60,23,0.7);
}
.prophoto .lost{
	display: block;
	background: rgba(161,33,23,0.7);
}
.prophoto .tip{
	display: block;
	margin-top: 2.75em;
	font-size: 1.5em;
	color:#fff;
}
.service{
	margin-top:3em;
}
.serviceContainer{
	width: 17.396875em;
	margin: 0 auto;
}
.serviceContainer ul{
	width: 100%;
	height: 100%;
}
.serviceContainer li{
	float: left;
	width: 50%;
	text-align: center;
	color: #fff;
}
.serviceContainer img{
	width: 5em;
	margin: 0 auto;
	display: block;
}
.serviceContainer span{
	display: block;
	margin-top: 0.5em;
	margin-bottom: 2.25em;
	color: #77c3f6;

}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-bottom: 1.3em;
	background: url("../img/footer_bg.png");
	background-size:100% 100%;
}
.footer .navtip{
	width: 90%;
	position: relative;
	margin: 0 auto;

}
.navtip li{
	margin-top: 1em;
	float: left;
	text-align: center;
}

.navtip img{
	height: 2.025em;
	width: 2.568em;
	margin: 0 auto;
	display: block;
}
.navtip span{
	margin-top: 0.75em;
	font-size: 0.6875em;
	color: #77c3f6;
	display: block;
}
.navtip li.two{
	position: absolute;
	right: 20%;
}
.navtip li.last{
	position: absolute;
	right: 0;
}
.takePhoto{
	position: relative;
	padding-top: 1em;
}
.photoNext{
	text-align: right;
}
.photoNext span{
	margin-right: 1em;
	color: #77c3f6;
}
.tip{
	margin-top: 1.5em;
	text-align: center;
	color: #fff;
	font-family: arial;
	font-size: 1.5em;
}
.tipDescription{
	text-align: center;
	margin-top:1em;
	margin-bottom: 3em;
	font-size: 1em;
	color: #77c3f6;
}
.photoborder{
	margin: 0 auto;
	position: relative;
	width: 10.6em;
	height: 10.6em;
	background: #fff;
	box-shadow: 0 0 4em 4em rgba(0,0,0);
	border-radius: 50%;
}
.photoIcon{
	position: absolute;
	margin: 0.3em;
	width:10em;
	height: 10em;
	border-radius: 50%;
	background: #77c3f6;
	z-index: 1;
	box-shadow: 0 0  0.3em 0.3em rgba(154,198,228,0.5) inset ;

}
.photoIcon img{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4.4375em;
	height: 3.625em;
	vertical-align: middle;
	margin-top:-1.8125em; 
	margin-left: -2.21875em;
}
.photoImg{
	position: absolute;
	margin: 0.3em;
	width:10em;
	height: 10em;
	border-radius: 50%;
	box-shadow: 0 0  0.3em 0.3em rgba(154,198,228,0.5) inset ;
}
.photoImg img{
	width: 100%;
	height: 100%;
	background: red;
	border: none;
	border-radius: 50%;
}

.photoSkip{
	position: fixed;
	width: 100%;
	text-align: right;
	font-size: 1.25em;
	color: #77c3f6;
	bottom: 4%;
	right: 4%;
}
.itemName{
	text-align: center;
}
.itemName input{
	padding: 0.25em;
	outline: none;
}

/*
* settings
*/
.bodybackground{
	background: #ededf3;
}
.settings{
	position: relative;
	display: none;
}
.back{
	background: #ededf3;
	position: relative;
	height: 2em;
}
.back .goback{
	position: absolute;
	left: 5%;
	top: 1em;
	width: 4em ;
	height: 2em;
	line-height: 2em;
	background: ;
	border-radius: 0.3em;
	border: 0.0625em solid ;
	color:#8e8e93;
	text-align: center;
}
.base{
	margin-top: 2em;
	background: #fff;
	border-top: 0.0625em solid #c8c7cc; 
	border-bottom: 0.0625em solid #c8c7cc;
}
.base ul{
	padding-left:5% ;
}
.base .first{
	position: relative;
	padding: 0.75em 0;
	display: block;
	height: 3.25em;
	line-height: 3.25em;
	font-size: 1.0625em;
}
.base .firstLine{
 	border-bottom: 0.0625em solid #c8c7cc;
}
.first .phopic{
	position: absolute;
	right: 14%;
	width: 3.25em;
	height: 3.25em;
	vertical-align: middle;
	border-radius: 50%;
}
.first .icon{
	position: absolute;
	width: 0.5625em;
	margin-top: -0.5625em;
	right: 5%;
	top: 50%;
}

.base .nds{
	position: relative;
	padding: 0.75em 0;
	height: 1.75em;
	line-height: 1.75em;
	display: block;
	font-size: 1.0625em;
}
.nds .name{
	position: absolute;
	right: 15%;
	color: #8e8e93;
}
.nds .icon{
	position: absolute;
	width: 0.5625em;
	right: 5%;
	top: 50%;
	margin-top: -0.5625em;
}
.nds .openCloseBtn{
	position: absolute;
	right: 5%;
	margin-top: -0.125em;
	overflow:hidden;
	border-radius: 1em;
	width: 4em;
	height:  1.875em;
}
.nds .openCloseBtn .open{
	position:absolute;
	left: -2.875em;
	box-sizing:border-box;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 3;
	border:0.125em solid #4cd964;
	border-radius: 0.93875em;
	background: #4cd964;
}
.nds .openCloseBtn .close{
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing:border-box;
	border:0.125em solid #e5e5e5;
	border-radius:1em;
	background: #fff;
	z-index: 2;
}
.nds .openCloseBtn .ball{
	position: absolute;
	top: 50%;
	margin-top: -0.8125em;
	margin-left: 0.125em;
	z-index: 4;
	width: 1.6125em;
	height: 1.625em;
	border-radius: 50%;
	background: #fff;
	box-shadow:0  0 0.0625em 0.0625em rgba(220,220,220,.5);
}

.editNameLayer{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background:rgba(230,230,230,.2);
	display: none;
}
.editNameLayerblock{
	display: block;
}
.editTab{
	position: absolute;
	top: 50%;
	margin-top: -5em;
	margin-left: 10%;
	width: 80%;
	border-radius: 0.4em;
	border: 1px solid #d7d7d7;
	background:#fff;
}
.editTab .tip{
	width: 80%;
	color:#505050;
	text-align: center;
	margin: 1em auto 0;
}
.productInput{
	width: 60%;
	margin: 1em auto;
}
.productInput  input{
	padding: 0.25em;
	border: 0.0625em solid #c5c5c5;
	border-radius: 0.3em;
	width: 100%;
}
.productInput  input:focus{
	outline: none;
	animation:myfirst 1s linear infinite alternate;
	/* Firefox: */
	-moz-animation:myfirst 1s linear  infinite alternate;
	/* Safari and Chrome: */
	-webkit-animation:myfirst 1s linear infinite alternate;
	/* Opera: */
	-o-animation:myfirst 1s linear infinite alternate;
}
@keyframes myfirst
{
0%   {box-shadow: 0 0 1px 1px rgba(0,145,255,0);}
25%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.2);}
50%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.4);}
75%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.6);}
100% {box-shadow: 0 0 1px 1px rgba(0,145,255,.8);}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {box-shadow: 0 0 1px 1px rgba(0,145,255,0);}
25%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.2);}
50%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.4);}
75%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.6);}
100% {box-shadow: 0 0 1px 1px rgba(0,145,255,.8);}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {box-shadow: 0 0 1px 1px rgba(0,145,255,0);}
25%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.2);}
50%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.4);}
75%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.6);}
100% {box-shadow: 0 0 1px 1px rgba(0,145,255,.8);}
}

@-o-keyframes myfirst /* Opera */
{
0%   {box-shadow: 0 0 1px 1px rgba(0,145,255,0);}
25%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.2);}
50%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.4);}
75%  {box-shadow: 0 0 1px 1px rgba(0,145,255,.6);}
100% {box-shadow: 0 0 1px 1px rgba(0,145,255,.8);}
}


.confirm_cancel{
	position: relative;
	height: 2em;
}
.confirm_cancel span{
	display: block;
	height: 2em;
	line-height:2em;
	border-top:0.0625em solid #c5c5c5;
	text-align: center;
	background: rgba(230,230,230,0.5);
	position: absolute;
	color: #0091ff;
}
.cancel{
	width: 50%;
	box-sizing:border-box;
	border-right: 1px solid #c5c5c5;
	left: 0;
}
.confirm{
	width: 50%;
	right:0;
}
.btnActive{
	background: #ccc;
}