* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
body{
	overflow: hidden;
}

.tabContent{
	display: none;
	background: #eaebed;
	color: #42465b;
}
.selected{
	display: block;
}
.addLeft{
	margin-left: 0.75em;
}
.inputInfo{
	background: green;
}
.inputInfo textarea{
	display: block;
	width: 100%;
	overflow-x: hidden;
	height: 16em;
	border:none;
	border-bottom: #9c9c9c solid 0.0625em; 
	resize:none;
}
.inputInfo textarea:focus{
	outline: none;
}

.btn{
	-webkit-user-select:none;
	width: 94%;
	margin: 0.75em auto;
}
.radioBtn input{
	display: none;
}
.radioBtn label{
	vertical-align: top;
	margin-left:0.625em; 
	font-family: arial;
}
.radioBtn i{
	display: inline-block;
	width: 1.3125em;
	height: 1.3125em;
	background: url("../img/cssSprite.png") no-repeat;
	background-size: 100% 100%;
}
.radioBtn i.active{
	background: url("../img/2.png") no-repeat;
	background-size: 100% 100%;
}


/*
*selectBtn
*/
.selectBtn{
	margin-top: 0.5em;
}
.selectBtn span{
	vertical-align: top;
}
.selectBtn i{
	display: inline-block;
	width: 1.3125em;
	height: 1.3125em;
	background: url("../img/check.png");
	background-size: 100% 100%;
}
.selectBtn .control span{
	margin-left: 0.75em;
}
.selectBtn .sendInterval{
	position: relative;
	color: #b7b9c1;
	margin: 0.5em 0;
	padding:0.7em 0;
}
.selectBtn .active{
	color: #42465b;
}
.sendInterval input.default{
	box-sizing:border-box;
	display: inline-block;
	position: relative;
	top:-0.25em;
	padding:0.125em;
	width: 3em;
	outline: none;
	border: 0.125em solid #b7b9c1;
	border-radius: 0.3em;
	background: #efeff1;

}
.sendInterval input.active{
	border-color: #ff7e00;
	background: #fff;
}

/*
*sendBtn
*/
.sendBtn{
	box-sizing:border-box;
	border: 0.0625em solid #e37000;
	border-radius: 0.3em;
	background: #ff7e00;
	margin: 0.9375em auto;
}
.send{
	border-top: 0.0625em solid #ff9e3f;
	border-radius: 0.3em;
	text-align:center;
	padding: 0.625em;
	font-size: 1em;
	color:#fff;
}
/*
*tabOption
*/
.tabOption{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3.75em;
}

.tabOption li{
	float:left;
	width: 50%;
	height: 3.75em;
	font-size: 125%;
	line-height: 3.75em;
	text-align: center;
	color: #fff; 
}
.selectedLi{
	background:url("../img/active.png") no-repeat;
	background-size: 100% 100%;
}
.defaultLi{
	background: url("../img/default.png") no-repeat;
	background-size: 100% 100%;
}