body,ul,ol,h1,h2,h3{
	margin: 0;padding: 0;
}

#bodyAll{
	background-color: #000;
	background-image: url('../img/background.png');
	width:100%;
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
}

#title{
	height:60px;
	line-height: 60px;
	text-align: center;
	background-color:orange;
	padding: 10px;
}

ul{
	overflow: auto;
	width: 300px;
	list-style: none;
}

ul li{
	float:left;
	width: 80px;
	height: 80px;
	border: 1px dotted red;
	border-radius: 50%;
	background-color: orange;
}

ul li a{
	display: block;
	text-decoration: none;
	text-align: center;
}

a{
	padding: 25px;
}

img{
	width: 80px;
	height: 80px;
}

#up,#down{
	margin-left:80px;
}

#up{
	margin-top: 12px;
}

#down{
	margin-bottom: 12px;
}

#left,#center{
	float:left;
}

.location{
	margin-left: 20%;
}

