body{
	min-height: 100%;
	-webkit-user-select:none;
	background: #eaebed;
	font-family: arial;
}

.body{
	width: 90%;
	margin: 0 auto;
}
.clearBtn{
	box-sizing:border-box;
	border: 0.0625em solid #e37000;
	border-radius: 0.3em;
	background: #ff7e00;
	margin: 0.9375em 0;
}
.sub{
	border-top: 0.0625em solid #ff9e3f;
	border-radius: 0.3em;
	text-align:center;
	height: 2.5em;
	line-height: 2.5em;
	font-size: 1.2em;
	color:#fff;
}
.elec{
	box-sizing:border-box;
	border:0.0625em solid #d6d7da;
	background: #fff;
}

/**
*.elec-title
*/
.elec-title{
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	height: 2.0625em;
	position: relative;
}
.elec-title span{
	position: absolute;
}
.imgname{
	left: 0;
	line-height: 2.0625em;
	margin-left: 1em;
}
.sendBtn{
	right: 0;
	box-sizing:border-box;
	height: 2.0625em;
	width: 3.625em;
	border: #ff7e00 0.0625em solid;
	border-radius: 0.4em;
	line-height: 2em;
	text-align: center;
	margin-right: 1em;
	color: #ff7e00;
}
.stopBtn{
	right: 24%;
	box-sizing:border-box;
	height: 2.0625em;
	width: 3.625em;
	border: #ff7e00 0.0625em solid;
	border-radius: 0.4em;
	line-height: 2em;
	text-align: center;
	margin-right: 1em;
	color: #ff7e00;
}
.addTop{
	margin-top: 0.75em;
}

/*
* elec-img
*/
.elec-img{
	background: red;
	overflow: hidden;
	box-shadow: 0 0.0625em 0.0625em 0.0625em rgba(204,204,204,.8);
}
.elec-img img{
	display: block;
	width: 100%;
}