#bodyAll{
	background-color: #000;
	background-image: url('../img/background.png');
	width:100%;
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
}

#title{
	
	
	width:100%;
	height:60px;
	line-height: 60px;
	text-align: center;
	background-color:orange;
	padding: 10px;
}

#title h1{
	
	top:0;
	left:0;
	width: 100%;
	display:block;
	text-align:center;
	font-size:1.8em;
	line-height: 60px;
}