/*css for hornet*/
body,ul,h1,h2,h3{
	margin: 0;padding: 0;
}
#bodyAll{
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
}

img{
	width: 180px;
	height: 120px;
	float:right;
	clear: both;
}



li{
	margin: 20px;
	text-align: left;
	
}

#title{
	height:90px;
	line-height: 60px;
	text-align: center;
	background-color:orange;
	padding: 15px;
}
#title h1{
	font-size:2.5em;
}
